.case__container {
  margin: 6rem 0 6rem 0;
}

.case__content {
  margin-top: 3rem;
  border-radius: 2.5rem;
  color: var(--primary-color);
  display: flex;
  background: var(--secondary-color);
  /* gap: 2rem; */
  justify-content: space-between;
  padding: 2rem;
}

.case__studies {
  margin: 2rem;
  padding-right: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.case__studies__border {
  border-right: 1px solid var(--primary-color);
}

.case__link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--accent-color);
}

@media screen and (max-width: 768px) {
  .case__content {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 1rem;
    padding: 1rem;
    background: transparent;
  }

  .case__studies {
    flex: 0 0 100%;
    scroll-snap-align: start;
    background: var(--secondary-color);
    padding: 2rem;
    border-radius: 2rem;
    margin: 0;
  }

  .case__studies__border {
    border-right: none;
  }
}
