.hero__container {
  margin: 2rem 0;
}

.hero__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__content {
  display: flex;
  flex-direction: column;
}

.hero__content_title {
  padding: 1rem 0;
}

.hero__content p {
  padding: 1rem 0;
}

.sponsor__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sponsor__logo {
  filter: grayscale(100%);
}

.hero__mobile__image_container {
  display: none;
}

@media screen and (max-width: 768px) {
  .hero__content_title {
    width: 100%;
  }

  .hero__image {
    display: none;
  }

  .hero__mobile__image_container {
    display: block;
  }

  .hero__mobile__image_container img {
    width: 80%;
  }

  .hero__cta {
    /* width: 100%; */
    text-align: center;
  }

  .hero__mobile__cta {
    width: 100%;
  }

  .sponsor__container {
    flex-wrap: wrap;
    gap: 1rem;
  }
}
