.hero__container {
  margin: 2rem 0;
}

.hero__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__content {
  display: flex;
  flex-direction: column;
}

.hero__content_title {
  padding: 1rem 0;
}

.hero__content p {
  padding: 1rem 0;
}

.sponsor__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sponsor__logo {
  filter: grayscale(100%);
}
