.teams__container {
  margin: 6rem 0 6rem 0;
}

.teams__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem 3rem;
  margin-top: 3rem;
}

.teams__card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--secondary-color);
  border-radius: 2rem;
  box-shadow: 0 5px 0px 0px rgba(0, 0, 0, 1.2);
  width: 360px;
  height: 270px;
}

.teams__card__head {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: start;
  gap: 1rem;
}

.teams__card__graphic_name__container {
  display: flex;
  justify-content: start;
  align-items: end;
  gap: 1rem;
  height: 100%;
  width: 100%;
}

.teams__card__graphic {
  position: relative;
  width: 120px;
  height: 130px;
}

.teams__card__graphic::after,
.teams__card__graphic::before {
  content: "";
  position: absolute;
  background: var(--accent-color);
  box-shadow: 8px 0px 0px -1px var(--secondary-color);
  border-radius: 33%/50%;
  top: 50px;
  width: 120px;
  height: 53px;
  transform: rotate(50deg);
}

.teams__card__graphic::before {
  transform: rotate(-50deg);
  box-shadow: 1px 8px 0px 0px var(--secondary-color);
}

.teams__card__img_container {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 1;
  overflow: hidden;
  top: 6px;
  right: 20px;
  margin: auto;
  text-align: end;
  margin-top: 30px;
  mix-blend-mode: luminosity;
}

.teams__card__img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  object-position: center;
}

.teams__card__name {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
}

.teams__card__cta {
  margin-top: 30px;
  margin-right: 10px;
}

.teams__card__svg {
  background: var(--secondary-color);
  border-radius: 100%;
  color: var(--primary-color);
  padding: 5px;
}

.teams__card__icon {
  width: 100%;
  height: 100%;
}

.teams__card__hr {
  margin-top: 1rem;
  border-bottom: 1px solid var(--secondary-color);
}

.teams__card__body {
  margin-top: 1rem;
  padding-left: 20px;
  padding-right: 20px;
}

.teams__cta {
  display: flex;
  justify-content: end;
  margin-top: 2rem;
}
