.teams__container {
  margin: 6rem 0 6rem 0;
}

.teams__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem 3rem;
  margin-top: 3rem;
}

.flower {
  position: relative;
}

.flower__head {
  position: relative;
  width: 120px;
  height: 50px;
}

.flower__head::after,
.flower__head::before {
  content: "";
  position: absolute;
  background: var(--accent-color);
  box-shadow: 8px 0px 0px -1px var(--secondary-color);
  border-radius: 33%/50%;
  width: 100%;
  height: 100%;

  transform: rotate(50deg);
}

.flower__head::before {
  transform: rotate(-50deg);
  box-shadow: 1px 8px 0px 0px var(--secondary-color);
}

.flower__img_container {
  position: absolute;
  width: 100%;
  height: 70px;
  z-index: 1;
  overflow: hidden;
}

.flower__img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: center;
  /* opacity: 0.7; */
  filter: grayscale(50%);
  filter: opacity(0.7);
}
