.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo_container {
  /* padding: 1rem; */
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.header__menu li {
  list-style: none;
  padding: 1rem;
  text-transform: capitalize;
  line-height: 28px;
}

.header__menu_button {
  background-color: transparent;
  border: 1px solid black;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
}

.header__mobile_menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .header__menu_container {
    display: none;
  }

  .header__logo_container {
    padding: 1rem 1rem 1rem 0rem;
    width: 80%;
  }

  .header__logo {
    width: 70%;
  }

  .header__mobile_menu {
    display: block;
  }
}
