.contact__container {
  margin: 6rem 0 6rem 0;
}

.contact__content {
  background: var(--primary-color);
  border-radius: 3rem;
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 600px;
  padding: 4rem 0px 4rem 4rem;
}

.contact__form__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* height: 100%; */
  width: 100%;
}

.contact__image__container {
  /* width: 100%;
  height: 100%; */
  /* padding: 4rem 0rem 4rem 0rem; */
  height: 100%;
}

.contact__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact__radio__container {
  display: flex;
  gap: 1rem;
}

.contact__radio__container input[type="radio"] {
  --s: 1.5rem; /* control the size */

  height: var(--s);
  aspect-ratio: 1;
  border: 1px solid #353434;
  padding: calc(var(--s) / 5);
  background: radial-gradient(farthest-side, var(--accent-color) 94%, #0000) 50%/0
    0 no-repeat content-box;
  border-radius: 50%;
  outline-offset: calc(var(--s) / 10);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  font-size: inherit;
  transition: 0.3s;
}

.contact__radio__container input[type="radio"]:checked {
  /* border-color: var(--accent-color); */
  background-size: 100% 100%;
}

.contact__label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.contact__input__container {
  display: flex;
  flex-direction: column;
  /* gap: 0.5rem; */
}

.contact__input {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid black;
  font-family: "Space Grotesk", sans-serif;
}

.contact__textarea {
  resize: none;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid black;
  font-family: "Space Grotesk", sans-serif;
}

@media screen and (max-width: 768px) {
  .contact__image__container {
    display: none;
  }

  .contact__form__container {
    width: 100%;
  }

  .contact__radio__container {
    justify-content: center;
  }

  .contact__content {
    padding: 2rem;
    height: 550px;
  }
}
