.testimonials__container {
  margin: 6rem 0 6rem 0;
}

.testimonials__content {
  margin-top: 3rem;
  border-radius: 2rem;
  padding: 3rem;
  height: 420px;
}

.carousal__item {
  border-radius: 2rem;
  height: 100%;
  width: 100%;
}

.box {
  /* width: 180px; */
  height: auto;
  color: #fff;
  padding: 20px;
  position: relative;
  margin: 40px;
  border-radius: 2rem;
  border: 1px solid var(--accent-color);
}

.box.arrow-bottom {
  margin-top: 40px;
}

.box.arrow-bottom:after {
  content: " ";
  position: absolute;
  left: 30px;
  bottom: -15px;
  border-top: 15px solid var(--accent-color);
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: none;
}
