#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2.5rem;
}

.heading__container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2.5rem;
}

.heading__title__container {
  /* flex: 4; */
}

.heading__title {
  padding: 2px 4px;
  background: var(--accent-color);
  border-radius: 6px;
  width: max-content;
  text-transform: capitalize;
}

.heading__container p {
  width: 40%;
}

@media screen and (max-width: 768px) {
  .heading__container {
    flex-direction: column;
    justify-content: center;
  }

  .heading__container p {
    width: 100%;
  }
}
